language: elixir
otp_release:
  - 18.0
  - 19.0
elixir:
  - 1.1
  - 1.2
  - 1.3
  - 1.4
  
matrix:
  exclude:
    - otp_release: 19.0
      elixir: 1.1

env:
  - MIX_ENV=test
script:
  - mix local.hex --force
  - mix deps.get
  - mix compile --warnings-as-errors
  - mix test
  - mix credo --strict
